<section [style.backgroundColor]="colorBg" class="p-5">
  <p class="text-center my-5 display-5">Quem é Vera Alencar?</p>
  <div class="d-flex gap-5">
    <img src="./assets/images/veraAlencar.jpg" alt="Vera Alencar" />
    <ul class="d-flex flex-column justify-content-between">
      <li>
        Psicóloga inscrita no CRP 99/99999, atuante na Teoria Cognitivo
        Comportamental (TCC)
      </li>
      <li>
        Graduada em Psicologia pela Universidade Federal de Pernambuco (UFPE) em
        2006
      </li>
      <li>
        Pós-graduada em Neuropsicologia pela Universidade Católica de Pernambuco
        (UNICAP) em 2008
      </li>
      <li>
        Mestre em Teoria Cognitivo Comportamental pela Universidade Federal de
        Pernambuco (UFPE) em 2012
      </li>
      <li>
        Especialista em Terapia de Casal e Família pela Universidade de São
        Paulo (USP) em 2018
      </li>
      <li>
        Professora do curso de Pós-Graduação em Terapia Comportamental com
        ênfase em Saúde Mental, na Universidade Católica de Pernambuco (UNICAP)
      </li>
      <li>
        Pesquisadora com mais de 20 trabalhos apresentados em conferências,
        congressos e simpósios
      </li>
      <li>
        Atende jovens e adultos há mais de 15 anos, com foco no tratamento de
        <span class="fw-bold">procrastinação</span>,
        <span class="fw-bold">ansiedade</span>,
        <span class="fw-bold">fobia social</span>,
        <span class="fw-bold">alterações no humor</span>,
        <span class="fw-bold">depressão</span>,
        <span class="fw-bold">burnout</span>,
        <span class="fw-bold">vícios</span> e
        <span class="fw-bold">problemas conjugais</span>
      </li>
    </ul>
  </div>
</section>
