<section [style.backgroundColor]="colorBg" class="p-3 p-md-5">
  <p class="text-center my-5 display-5">Quem é Vera Alencar?</p>
  <div class="d-flex gap-5 justify-content-between">
    <img src="./assets/images/veraAlencar.jpg" alt="Vera Alencar" />
    <ul class="d-flex flex-column justify-content-between list-unstyled">
      <li>
        Psicóloga inscrita no CRP 99/99999, atuante na
        <span class="fw-bold">Teoria Cognitivo Comportamental (TCC)</span>
      </li>
      <li>
        <span class="fw-bold">Mais de 15 anos de experiência no atendimento de jovens e adultos</span>, com
        foco no tratamento de procrastinação, ansiedade, fobia social,
        alterações no humor, depressão, burnout, vícios e problemas conjugais
      </li>
      <li>
        <span class="fw-bold">Graduada</span> em Psicologia pela Universidade
        Federal de Pernambuco (UFPE) em 2006
      </li>
      <li>
        <span class="fw-bold">Pós-graduada</span> em Neuropsicologia pela
        Universidade Católica de Pernambuco (UNICAP) em 2008
      </li>
      <li>
        <span class="fw-bold">Mestre</span> em Teoria Cognitivo Comportamental
        pela Universidade Federal de Pernambuco (UFPE) em 2012
      </li>
      <li>
        <span class="fw-bold">Especialista</span> em Terapia de Casal e Família
        pela Universidade de São Paulo (USP) em 2018
      </li>
      <li>
        <span class="fw-bold">Professora</span> do curso de Pós-Graduação em
        Terapia Comportamental com ênfase em Saúde Mental, na Universidade
        Católica de Pernambuco (UNICAP)
      </li>
      <li>
        <span class="fw-bold">Pesquisadora</span> com mais de 20 trabalhos
        apresentados em conferências, congressos e simpósios
      </li>
    </ul>
  </div>
</section>
