<section [style.backgroundColor]="colorBg" class="px-5 pt-3 d-flex justify-content-between">
  <div class="px-5 d-flex align-items-center">
    <img class="col-1" src="./assets/images/emblem.png" alt="Brasão" />
    <h1 class="m-0">Vera Alencar</h1>
  </div>
  <nav class="d-flex align-items-center">
    <ul class="list-unstyled list-group list-group-horizontal gap-4">
      <li>
        <a href="">SERVIÇOS</a>
      </li>
      <li>
        <a href="">SOBRE</a>
      </li>
      <li>
        <a href="">BENEFÍCIOS</a>
      </li>
      <li>
        <a href="">DEPOIMENTOS</a>
      </li>
      <li>
        <a href="">LIVROS</a>
      </li>
    </ul>
  </nav>
</section>
