<section [style.backgroundColor]="colorBg" class="px-2 px-md-5 pt-3 d-flex justify-content-between">
  <div class="px-md-2 d-flex align-items-center">
    <img class="col-1" src="./assets/images/emblem.png" alt="Brasão" />
    <h1 class="m-0">Vera Alencar</h1>
  </div>
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#services">SERVIÇOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">SOBRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits">BENEFÍCIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonials">DEPOIMENTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#books">LIVROS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
