<app-header [colorBg]="colorGreenSoft"></app-header>
<app-presentation [colorBg]="colorGreenSoft" [colorBgBtn]="colorGreenDark"></app-presentation>
<app-divider [palette]="paletteGreenList" [reverse]="true"></app-divider>
<app-services [colorBg]="colorGreenDark" [colorBgCard]="colorGreenSoft"></app-services>
<app-divider [palette]="paletteGreenList" [reverse]="true"></app-divider>
<ul>
  <p>Referências:</p>
  <li><a href="https://dribbble.com/shots/17978764-Therapist-WordPress-Theme" target="_blank">Cores</a></li>
  <li><a href="https://www.behance.net/gallery/190789839/PSYCHOLOGY-HEALTH-WEBSITE-DESIGN?tracking_source=search_projects|psychology+website&l=6" target="_blank">Estrutura</a></li>
  <li><a href="http://priscilarolim.com/terapia-individual-e-de-casais/?gad_source=1&gclid=CjwKCAiA8sauBhB3EiwAruTRJn4UsXGnCDxMwkM3xio4GzE9YYNnRRQc-YENMqfasszbKaf6h-N65xoC9TUQAvD_BwE" target="_blank">Tratamentos</a></li>
  <li><a href="https://www.raissacorbal.com.br/?gad_source=1&gclid=CjwKCAiA8sauBhB3EiwAruTRJr06hep9eyuzQ-QxsMCAlTTwDDFIm0YotWHsSHJRIfePFrm2Ks0evhoC-9oQAvD_BwE" target="_blank">Depoimentos</a></li>
</ul>
