<div class="position-relative">
  <app-header id="header" [colorBg]="colorGreenSoft"></app-header>
  <app-presentation
    [colorBg]="colorGreenSoft"
    [colorBgBtn]="colorGreenDark"
  ></app-presentation>
  <app-divider [palette]="paletteGreenList" [reverse]="true"></app-divider>
  <app-services
    id="services"
    [colorBg]="colorGreenDark"
    [colorBgCard]="colorGreenSoft"
  ></app-services>
  <app-divider [palette]="paletteGreenList" [reverse]="true"></app-divider>
  <app-about id="about" [colorBg]="colorGreenSoft"></app-about>
  <app-divider [palette]="paletteGreenList" [reverse]="true"></app-divider>
  <app-benefits
    id="benefits"
    [colorBg]="colorGreenDark"
    [colorContent]="colorGreenSoft"
  ></app-benefits>
  <app-divider [palette]="paletteGreenList" [reverse]="true"></app-divider>
  <app-testimonials
    id="testimonials"
    [colorBg]="colorGreenSoft"
    [colorBgCard]="colorGreenDark"
  ></app-testimonials>
  <app-divider [palette]="paletteGreenList" [reverse]="true"></app-divider>
  <app-books
    id="books"
    [colorBg]="colorGreenDark"
    [colorBgBtn]="colorGreenSoft"
  ></app-books>
  <app-divider [palette]="paletteGreenList" [reverse]="true"></app-divider>
  <app-footer [colorBg]="colorGreenSoft"></app-footer>
  <a href="#header" class="text-reset">
    <mat-icon
      aria-hidden="false"
      aria-label="Plus icon"
      fontIcon="north"
      id="returnHomeBtn"
      [style.backgroundColor]="colorGreenPastel"
    ></mat-icon>
  </a>
</div>
