<section class="p-5 text-center">

  <h2>No momento, Vera Alencar não poderá te atender...</h2>
  <img id="logo" class="col-1" src="./assets/images/emblem.png" alt="Brasão" />
  <h2>porque ela não existe!</h2>

  <a class="text-decoration-none text-white btn fs-4 mt-4 mb-5" href="home">VOLTAR</a>

  <p class="fw-bold">Esse site foi desenvolvido por Gabriel Soares, como forma de aprimorar habilidades de Desenvolvimento Front-end.</p>
  <p class="fw-bold mb-5">Vera é uma psicóloga fictícia, e as imagens das pessoas foram criadas por Inteligência Artificial.</p>
  <p class="fw-bold">Para ficar por dentro de mais projetos como esse, acompanhe as redes sociais:</p>

  <ul id="socialMedia" class="list-unstyled d-flex justify-content-center gap-5">
    <li><a href="https://gabrielsoares.vercel.app" target="_blank"><img src="assets/images/iconPortfolio.png" alt="Portfolio" title="Portfolio"></a></li>
    <li><a href="https://www.linkedin.com/in/gabrielsoarespebr/" target="_blank"><img src="assets/images/iconLinkedin.png" alt="LinkedIn" title="LinkedIn"></a></li>
    <li><a href="https://github.com/gabrielsoarespebr" target="_blank"><img src="assets/images/iconGithub.png" alt="GitHub" title="GitHub"></a></li>
  </ul>
</section>
