.card {
  width: 27vw;
  height: fit-content;
  aspect-ratio: 1/1;

  border-radius: 2rem;

  & div {
    padding: 5%;
  }
}

@media (max-width: 1200px){
  .card {
    width: 38vw;
  }
}

@media (max-width: 768px){
  .card {
    width: 90vw;
    margin-bottom: 2rem;
  }
}

.patientImg {
  width: 35%;
  height: 10%;
  aspect-ratio: 1/1;

  border-radius: 50%;
}
