<section
  [style.backgroundColor]="colorBg"
  class="d-flex p-5 justify-content-between align-items-center gap-5"
>
  <div class="w-100">
    <p class="text-center my-5 display-5">
      O que faz um atendimento ser 5 estrelas?
    </p>
    <ul class="list-unstyled d-flex justify-content-between flex-wrap gap-5">
      <li
        *ngFor="let patient of patientList"
        [style.backgroundColor]="colorBgCard"
        class="card"
      >
        <div class="text-white">
          <div class="d-flex">
            <img
              class="patientImg"
              src="/assets/images/{{ patient.image }}"
              [alt]="patient.job"
            />
            <div class="text-white">
              <p class="text-reset">
                <span class="fw-bold text-reset">{{ patient.name }}</span
                >, {{ patient.age }} anos
              </p>
              <p class="text-reset small m-0">{{ patient.job }}</p>
              <p class="text-reset small m-0">
                {{ patient.address.city }} -
                {{ patient.address.state }}
              </p>
            </div>
          </div>
          <div class="text-white d-flex flex-column justify-content-between">
            <p class="text-reset">"{{ patient.testimonial }}"</p>
            <ul class="list-unstyled d-flex justify-content-end">
              <li>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Star icon"
                  fontIcon="star"
                  class="text-white"
                ></mat-icon>
              </li>
              <li>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Star icon"
                  fontIcon="star"
                  class="text-white"
                ></mat-icon>
              </li>
              <li>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Star icon"
                  fontIcon="star"
                  class="text-white"
                ></mat-icon>
              </li>
              <li>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Star icon"
                  fontIcon="star"
                  class="text-white"
                ></mat-icon>
              </li>
              <li>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Star icon"
                  fontIcon="star"
                  class="text-white"
                ></mat-icon>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
